#root {
  max-width: 1280px;
  text-align: center;
}

button {
  background-color: purple;
  color: plum;
  border-color: purple;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 24px;
}

.add-btn {
  width: 100%;
  margin: 120px auto;
}

.add-btn button {
  font-size: 32px;
}

.counters {
  width: 100%;
}
